// Typography
$primaryFont: OpenSans, Arial, Helvetica, sans-serif;
$primaryFontBold: OpenSansBold, Arial, Helvetica, sans-serif;
$secondaryFont: Dosis, Arial, Helvetica, sans-serif;
// Colors
$swamp: #00080c;
$rollingStone: #798285;

//header
$headerHeight: 62px;

//concert-tours
